* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

body{
  padding: 0px;
  background-color: azure;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h2 {
  color: tomato;
  text-align: center;
  margin: 30px;
  font-size: 30px;
}

h1{
  justify-content: center;
}

.cardbitch{

  flex-wrap: wrap;
  justify-content: center;
  max-width: 1034px;
  margin: 0 auto;
}

.container{
  display: flex;
  justify-content: center;

}